<div class="container">
  <div class="navbar-header">
    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Home", root_path, :class => 'navbar-brand' %>
  </div>
  <% if can_manage_how_to? %>
  <div class="navbar-collapse collapse" id="navbar">

    <ul class="nav navbar-nav">
      <li class=""><%= link_to 'Sections', :sections %></li>
      <li class=""><%= link_to 'Contents', :contents %></li>
    </ul>
  </div>
  <!--/.nav-collapse -->
  <% end %>
</div>
